[% start_year=2016 %]
=encoding UTF-8

=head1 NAME

Lingua::JA::Moji - abstract here.

=head1 SYNOPSIS

    use Lingua::JA::Moji;

=head1 VERSION

This documents version [% version %] of Lingua::JA::Moji corresponding to git
commit [% commit.commit %] released on [% commit.date %].

=head1 DESCRIPTION

=head1 FUNCTIONS

=cut
[% INCLUDE "author" %]
